@font-face {
  font-family: KakaoSmall;
  font-weight: 300;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall-Light-v1.0.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall-Light-v1.0.woff)
      format('woff');
}

@font-face {
  font-family: KakaoSmall;
  font-weight: 400;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall-Regular-v1.0.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall-Regular-v1.0.woff)
      format('woff');
}

@font-face {
  font-family: KakaoSmall;
  font-weight: 700;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall_Bold_OTF.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoSmall_Bold_OTF.woff)
      format('woff');
}

@font-face {
  font-family: KakaoBig;
  font-weight: 400;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig-Regular-v1.0.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig-Regular-v1.0.woff)
      format('woff');
}

@font-face {
  font-family: KakaoBig;
  font-weight: 700;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig-Bold-v1.0.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig-Bold-v1.0.woff)
      format('woff');
}

@font-face {
  font-family: KakaoBig;
  font-weight: 800;
  src:
    local('☺'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig_ExtraBold_OTF.woff2)
      format('woff2'),
    url(//t1.kakaocdn.net/kakaocorp/kakaocorp/service/fonts/KakaoBig_ExtraBold_OTF.woff)
      format('woff');
}
